body {
    /* background-color: ; */
}

#calculator {
    width: 300px;
    height: 400px;
    margin: 200px auto;
    border: 2px solid black;
    padding: 20px 10px;
    background-color: #710303;
    border-radius: 30px;
    font-family: Helvetica;
}

.display {
    display: flex;
    align-items: center;
    justify-content: end;
    overflow: scroll;
    border: 1px solid black;
    font-size: max(2vw, 42px);
    height: 20%;
    width: 80%;
    margin: 20px auto 0px;
    background-color: white;
    /* color: white; */
    border-radius: 20px;
    padding-right: 20px;

}

.container {
    width: 85%;
    height: 65%;
    margin: 0 auto;
    display: grid;
    /* grid-template-areas: 'clear plusMinus undo divide'
                         'seven eight nine multiply'
                         'four five six subtract'
                         'one two three add'
                         'zero decimal three add'; */
    grid-template: repeat(5, 1fr) / repeat(4, 1fr);
    gap: 1px 1px;
    padding: 10px;
    
}

.equals {
    grid-area: 5 / 4;
}

.multiply {
    grid-area: 2 / 4;

}

.subtract {
    grid-area: 3 / 4;
}

.add {
    grid-area: 4 / 4;
}

.Digit0 {
    grid-area: 5 / span 2;
}

.Digit9 {
    grid-area: 2 / 3;
}

.Digit7 {
    grid-area: 2 / 1;
}


.Digit6 {
    grid-area: 3 / 3;
}

.Digit4 {
    grid-area: 3 / 1;
}

.Digit3 {
    grid-area: 4 / 3;
}

.Digit1 {
    grid-area: 4 / 1;
}

.opr {
    background-color: #F2E0D0;
}

.number, .opr {
    border-radius: 5px;
    font-size: 24px;
}

.number {
    background-color: #F2B705;
}

.undo {
    font-size: 16px;
}

